@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .experience {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 767px) {
    .experience {
        width: 100%;
        height: 100%;
    }
}

.experience {
    text-align: justify;
}

.headshot {
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
}

.headshot-tilt {
    --tiltX: 0;
    --tiltY: 0;
    transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}


.marquee {
  overflow: hidden !important;
  mask: linear-gradient(to right, transparent, black 10px, black 90%, transparent);
}

.marquee-content {
  display: flex;
  width: max-content;
  overflow: hidden;
  animation: marquee 10s linear infinite;
}


@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.marquee-content > div > img {
  width: 100px;
  height: 100px;
  margin: 0 10px;
}


code {
  @apply w-full;
}

.dark-blog {
  @apply dark:text-black;
  @apply dark:bg-stone-800/70;
}